body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  font-family: sans-serif;
  margin: 20px;
  background-color: #fff;
}
#title {
  grid-column: span 2;
  text-align: center;
}
.meal,
.cocktail {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.meal img,
.cocktail img {
  max-width: 250px;
  display: block;
  margin-top: 25px;
}

#mealName {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 2px solid #000;
}
#mealCategory {
  font-style: italic;
  color: #444;
}
#ingrediensTitle {
  font-weight: bold;
  margin-top: 20px;
}
#mealIngredients {
  margin-top: 10px;
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
}

.cocktail h2 {
  border-bottom: 2px solid #000;
  display: inline;
}
